venv/
frontend/node_modules/*
models/*
ocr/*
.rasa/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.wheel
pip-log.txt
pip-debug.log
.coverage
.pytest_cache/
docs/_build/
.DS_Store
Thumbs.db
.Spotlight-V100/
.TemporaryItems/
.env
venv/
node_modules/
captures/
crops/
py_venv_chatbot/
py_venv_ocr/